ul.oc-tabs li.oc-selected a {
  background: none;
  border: 1px solid green;
}

.oc-message,
.oc-statusMessage {
  background-color: transparent;
  border: 2px solid blue;
  padding: 1em;
}

#oc-sitesearch {
  float: right;
}

#oc-topnav-wrapper {
  background: transparent;
  border-top: none;
  border-bottom: none;
}

#oc-topnav {
  border-bottom: 2px dotted lightgray;
  padding: 0.5em 0;
}

#oc-topnav h1 {
  border-bottom: 2px dotted lightgray;
}

#oc-topnav a {
  color: black;
}

ul#oc-topnav-context li {
  background: white;
  text-transform: uppercase;
}

ul#oc-topnav-context li.oc-topnav-join a {
  background: transparent;
}

 ul#oc-topnav-context li.oc-topnav-selected a {
  background: lightgrey;
 }

#oc-home-content {
  width: 60%;
  float: left;
}

.oc-feed-title {
  text-transform: uppercase;
  background-color: white;
  color: black;
  border-top: 2px dotted lightgray;  
  border-bottom: 2px dotted lightgray;  
}

ul.oc-lineup-list, 
ol.oc-lineup-list {
  border-top: none;
  border-bottom: none;
}

a, a:visited, 
h2 oc-feed-title a,
h2 oc-feed-title a:visited,
h2 oc-feed-title a:link {
  text-decoration: none;
  color: darkblue  !important 
} 
/* XXX TODO:
 *  move opencore.css << oc-feed-title a >>
 *  styledef somewhere less hard to override
 */


.oc-getstarted {
  border: none;
  background-color: transparent;
}

.oc-getstarted h1,
.oc-getstarted h2 {
  border-bottom: 2px dotted lightgray;
  border-top: 2px dotted lightgray;
  padding-top: 0.5em;
  text-transform: uppercase;
  font-size: 2em;
}

#oc-topnav-tab {
  background: lightgray;
  padding-bottom: 2em;
}
